<form action="/favourites" method="POST">
  <input type="hidden" name="id" value="<%= home._id %>" />
  <button type="submit" class="flex items-center gap-2 btn-outline w-full justify-center group">
    <i class="fa-regular fa-heart group-hover:text-brand transition-colors text-lg"></i>
    <span>Save to Favourites</span>
  </button>
</form>
